.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    background-color: lightblue;
    padding: 10px;
}
.chatIcons {
    display: flex;
    gap: 10px;
    font-size: 1.2rem;
}